<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>До свидания!</h1>
	<p>
		Очень приятно, что вы нас навестили.
	</p>
	<p>
		Пора сказать <%= link_to "привет", say_hello_path %>!
	</p>
</body>
</html>