<!DOCTYPE html>
<html>
<head>
	<title>Rails!</title>
</head>
<body>
<h1>Hello from Rails!</h1>
<p>
	Сейчас <%= @time %>
</p>
<p>
	Пора сказать <%= link_to "до свидания", say_goodbye_path %>!
</p>
</body>
</html>

